#raiden-god-page-previous-controller {
    height: 80vh;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 8;
    display: none;
}

/* display: none; */



