.raiden-god-page-buttom {
    width: 33%;
    height: 20vh;
    background-color: rgb(175, 110, 236);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}


.raiden-god-page-buttom:hover{
    transform: scale(0.98);
}